# Ignore all node_modules folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore build artifacts
client/build/
server/build/
dist/

# Ignore environment files
*.env
client/.env
server/.env

# OS or IDE-specific
.DS_Store
*.log
